*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    background-color: black;
    width: 460px;
    height: 460px;
    position: relative;
}

.sq {
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: green;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}